BasedOnStyle: LLVM
IndentWidth: 3
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: BeforeColon
AlignAfterOpenBracket : BlockIndent
BinPackParameters: OnePerLine
AlignConsecutiveAssignments: true 
AlignConsecutiveDeclarations: true
